<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.dao.EmployeeDAO">

	<resultMap type="Employee" id="EmployeeResult">
		<id property="empNo" column="empNo"/>
		<result property="name" column="name"/>
		<result property="tel" column="tel"/>
		<result property="sex" column="sex"/>
		<result property="password" column="password"/>
		<result property="role" column="role"/>
		<result property="createTime" column="createTime"/>
		<result property="updateTime" column="updateTime"/>
		<association property="department" column="departmentId" select="com.inventory.dao.DepartmentDAO.findById"></association>
	</resultMap>
	<select id="findById" resultMap="EmployeeResult">
		select * from in_employee where empNo=#{empNo}
	</select>
	<select id="findLastOne" resultMap="EmployeeResult">
		select * from in_employee 
		where 1=1
		order by createTime desc
		limit 1
	</select>
	<select id="findAll" resultMap="EmployeeResult">
		select * from in_employee 
		where 1=1
		<if test="empNo !=null and empNo !=''">
			and empNo=#{empNo}
		</if>
		<if test="searchWord !=null and searchWord !=''">
			and (empNo like #{searchWord} or name like #{searchWord} )
		</if>
		order by empNo desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="countAll" resultType="Long">
		select count(1) from in_employee 
		where 1=1
		<if test="empNo !=null and empNo !=''">
			and empNo=#{empNo}
		</if>
		<if test="searchWord !=null and searchWord !=''">
			and (empNo like #{searchWord} or name like #{searchWord} )
		</if>
	</select>
	<select id="login" resultMap="EmployeeResult">
		select * from in_employee where empNo=#{empNo} and password=#{password}
	</select>
	<insert id="save">
		insert into in_employee values
		(#{empNo},#{name},#{sex},#{tel},#{password},#{department.departmentId},#{role},now(),now())
	</insert>
	<update id="update">
		update in_employee
		<set>
			<if test="name !=null and name !=''">
				name = #{name},
			</if>
			<if test="tel !=null and tel !=''">
				tel = #{tel},
			</if>
			<if test="sex !=null and sex !=''">
				sex = #{sex},
			</if>
			<if test="password !=null and password !=''">
				password = #{password},
			</if>
			<if test="role !=null and role !=''">
				role = #{role},
			</if>
			<if test="department !=null and department !=''">
				departmentId = #{department.departmentId},
			</if>
		</set>
		where empNo=#{empNo}
	</update>
	<delete id="delete">
		delete from in_employee where empNo in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>
</mapper> 