<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.dao.ProductStoreLinkDAO">

	<resultMap id="ProductStoreLinkResult" type="ProductStoreLink" >
	    <result column="stock" property="stock" />
	  	<association property="product" column="productId" select="com.inventory.dao.ProductDAO.findById"></association>
	  	<association property="store" column="storeId" select="com.inventory.dao.StoreDAO.findById"></association>
  	</resultMap>
  	<select id="findByProductId" resultMap="ProductStoreLinkResult">
  		select * from in_product_store where productId=#{id}
  	</select>
  	<update id="updateStock">
  		update in_product_store set stock=stock+#{stock}
  		where productId=#{productId} and storeId=#{storeId}
  	</update>
</mapper> 